@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@function getPercentage($parameter) {
    @return 1 / $parameter * 100%;
}

/**
 *  main axis
 */
.flex-row, .flex {
    @include flex-row;
}

/**
 *  main axis between
 */
.flex-row-between {
    @include flex-row;
    justify-content: space-between;
}

/**
 *  cross axis 
 */
.flex-column {
    @include flex-column;
}

/**
 *  cross axis between
 */
.flex-column-between {
    @include flex-column;
    justify-content: space-between;
}

/**
 *  main & cross axis center 
 */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/**
 *  item use
 */
.flex-item-scroll-x {
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.flex-item-scroll-y {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


/**
 *  删格布局，支持10列
 */
.flex-cell {
    @include flex-row;
    flex-wrap: wrap;
    .col-1 {
        width: getPercentage(1);
    }
    .col-2 {
        width: getPercentage(2);
    }
    .col-3 {
        width: getPercentage(3);
    }
    .col-4 {
        width: getPercentage(4);
    }
    .col-5 {
        width: getPercentage(5);
    }
    .col-6 {
        width: getPercentage(6);
    }
    .col-7 {
        width: getPercentage(7);
    }
    .col-8 {
        width: getPercentage(8);
    }
    .col-9 {
        width: getPercentage(9);
    }
    .col-10 {
        width: getPercentage(10);
    }
}
